 <div style="margin-top: 20px;"> 
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Seller</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pizza</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">La pizza est un plat italien composé d'une base 
                            généralement ronde et aplatie de pâte à pain levée à base de blé, 
                            garnie de tomates, de fromage et souvent de divers autres ingrédients, 
                            puis cuite à haute température, traditionnellement dans un four à bois. 
                            Une petite pizza est parfois appelée pizzetta.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Biryani</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Le biryani est un plat de riz mélangé. Il est préparé avec des épices 
                            indiennes, du riz et de la viande, généralement du poulet ou du poisson, et parfois, 
                            en plus, des œufs ou des légumes tels que des pommes 
                            de terre dans certaines variétés régionales.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pasta</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Les pâtes sont un type de nourriture généralement fabriqué à partir 
                            d'une pâte non levée de farine de blé mélangée avec de l'eau ou des œufs, 
                            et formé en feuilles ou autres formes, puis cuit par
                             ébullition ou cuisson au four.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>gâteau au chocolat Molten  </h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Le fondant au chocolat est un dessert populaire 
                            qui combine les éléments d'un gâteau au chocolat et d'un soufflé. 
                            Son nom provient de son cœur de chocolat fondant, et il est également 
                            connu sous le nom de moelleux au chocolat, gâteau lave ou simplement fondant.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Faîtes Part
                        <br />
                        De Notre
                        <br />
                        Restaurant!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>